---
BasedOnStyle: Google
Language: Cpp
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

# Line limits
ColumnLimit: 120

# Braces & formatting
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never

# Pointers & references
PointerAlignment: Left

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
